*{
    margin: 0;
    padding: 0;
}

body{
    background-color: #622a80;
    width: 90vw;
}

.logo{
    width: 300px;
    height: 150px;
    background-color: #c0aacc;
    border-radius: 35%;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 15px;
}

.piscinas-container, .construcao-container, .plastico-container, .contactos-container{
    background-color: #c0aacc;
    border-radius: 10px;
    margin: 10px;
}

.piscinas{
    width: 300px;
    height: auto;
    border-radius: 20px;
    margin: 15px;
}
